<article class="m-5 border rounded flex-fill bg-white">
    <div class="d-block">
        <section class="p-4">
            <h2>
                Welcome!
            </h2>
            <p>
                Thanks for visiting my personal page! This is a place where I can practive and advertise my skills as a web developer. This entire website was made by me, 
                Joshua Jenson, using Angular and Boostrap. You check check out its full source code <a href="https://github.com/joshualouisjenson/playground">here</a>.
            </p>
        </section>

        <section class="p-4">
            <h2>
                About Me
            </h2>
            <p>
                I am a 24 year old full-stack web developer currently living in Overland Park, Kansas. As an avid gamer and all-around computer-nerd, I started out with
                basic programming in highschool in the form of mods for games and dabbling in game creation using Microsoft XNA studio. In college, I recieved a more formal
                programming education and spent time job shadowing at Commerce Bank, as a junior developer at AllOfE Software, and participating in KU's ACM and information
                security clubs. I graduated with a Bachelor's degree in Computer Science from the University of Kansas in 2017, and began working at Lockpath, where I reside now.
            </p>
            <p>
                My professional work at both AllOfE and Lockpath has focused primarily on full-stack web development in agile environments using Javascript and CSS frameworks. I've
                had a healthy mix of both front-end and back-end experience, working with mySQL, PHP, and ExtJS at AllOfE, and TSQL, C#, and Angular at Lockpath. At both companies,
                I've had to oppurtunity to largely design my own projects, which has allowed me to develop a keen mind for software architecture early on. I am always looks for ways
                to abstract and reuse code so that it is more maintable and to reduce the time of size of projects and updates.
            </p>
            <p>
                Going forward, I'm working to expand my repertoire of technical skills and improve my interpersonal and leadership skills. At Lockpath, I've had the chance to mentor and pass
                on my experience with Angular to other new Angular developers at the company as well as the oppurtunity to research and apply bleeding-edge technologies to help solve
                problems for our team. I hope to continue providing this kind of mentorship and innovation wherever I go and always stay on top of the latest technology.
            </p>
        </section>
    </div>
</article>