<!-- Top page header -->
<header class="w-100 p-3 centered border-bottom bg-primary text-white">
    <h1>
        {{title}}
    </h1>
</header>

<div class="d-flex h-100">
    <!-- Left Navigation Sidebar -->
    <aside class="p-4 mw-20% border-right bg-white">
        <nav>
            <ul class="list-group">
                <a
                    *ngFor="let page of pages"
                    class="list-group-item"
                    [routerLink]="page.Route"
                >
                    {{page.Name}}
                </a>
            </ul>
        </nav>
    </aside>
    
    <!-- Content -->
    <main class="flex-fill bg-white">
        <router-outlet></router-outlet>
    </main>
</div>
